<h2><i class="fas fa-person-booth"></i> Elections</h2>
<div>
  <i class="fas fa-search-location"></i> 
  <input type="text" id="addr" [(ngModel)] = "address" placeholder="address">
  <button id="theButton" (click)='getElection()' class="btn btn-info">
    <i class="fas fa-search-location"></i> 
  </button>
  
  <div *ngIf="displayData">
    <button id="theButton" (click)='reset()' class="btn btn-info">clear 
    </button>
    <div>{{normalizedInput}}</div>
    <div *ngFor="let name of generalElections">
      
      <table>
          <div>
            <th>Office: {{name.office}}</th>
          </div>
          <div *ngFor="let can of name.candidates">
            <tr>Name: {{can.name}}</tr>
            <tr>Party: {{can.party}}</tr>
            <tr>
              <a href="{{can.candidateUrl}}" class="btn btn-info" role="button">Home Page</a>
              <app-bookmark url="{{can.candidateUrl}}" name="{{can.name}}"></app-bookmark>
            </tr>
          </div>
          
          <br>
          
        </table>
        <div>

        </div>
    </div>
  </div>
</div>
