<div>
  <!-- <input type="text" id="addressBox" placeholder="Address"/>
  <p>{{name}}</p> -->
  <h2><i class="fas fa-user-tie"></i> Representatives</h2>
  <input type="text" id="addr" [(ngModel)] = "address" placeholder="address">
  <button id="theButton" (click)='getAddress()' class="btn btn-info">
    <i class="fas fa-search-location"></i> 
  </button>
  

  <div *ngIf="displayData">
    <div *ngFor="let name of outputArray">
      <img [src]="name.photo" style="width:250px;height:300px;"/>
      <table>
        <div>
          <ul>
            <li>Office: {{name.name}}</li>
            <li>Official: {{name.person}}</li>
            <li>Party: {{name.party}}</li>
            <!-- <td>{{name.photo}}</td> -->
            <!-- <td>{{name.url}}</td> -->
            <li>
              <a href="{{name.url}}" class="btn btn-info" role="button">Home Page</a>
            </li>
            
          </ul>
        </div>
          
      </table>
    </div>
  </div>


</div>
